{% extends 'layout\layout.html' %}


{%  block title %}    
{{title}}
{% endblock %}
            
            
{%  block content %}

    <h1>{{articles.title}}</h1><br>
    <div class="articles">               
        {% for article in articles %}
            {% if article.image != 'null' and article.image.url|length >= 1 %}
                <div class="image">
                    <img src="{{articulo.image.url}}" />
                </div>
            {% endif %}
        
    
            <div class="content-box">
                <div Class="box-blog">
                <h2>{{article.title.upper}}</h2>
                <span class="date">
                    {{article.created_at}}
                </span>
                <p>
                    {{article.content|safe}}
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}   
            